{% load staticfiles %}
<html>

<head>
  <title>Image Classification</title>
  <link rel="stylesheet" href="{% static 'css/classify.css' %}" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <script src="{% static 'js/libgif.js' %}"></script>
  <script src="{% static 'js/rubbable.js' %}"></script>
  <script src="{% static 'js/classify.js' %}"></script>
</head>

<body>
  <div class="container row" style="width:100%; max-width:100%; max-height: 100%;">
    <script>
      function selectModel(num) {
        if(num == '0'){
          document.getElementById('div_algorithm').style.display = "block";
          var elements = document.getElementsByClassName('div_model');
          for(var i = 0, length = elements.length; i < length; i++) {
            elements[i].style.display = 'none';
          }
          switchModel(0);
          // $('#btn-span').text('Upload and Detect Image');
          $('.uf-button').animate({
            opacity: 0
          }, {
            duration:200,
            queue: false,
          }).css("z-index", 0);
          $('.mnist-uf-button').animate({
            opacity: 0
          }, {
            duration:200,
            queue: false,
          }).css("z-index", 0);
        } else {
          document.getElementById('div_algorithm').style.display = "none";
          var elements = document.getElementsByClassName('div_model');
          for(var i = 0, length = elements.length; i < length; i++) {
            elements[i].style.display = 'block';
          }
          switchModel(1);
          // $('#btn-span').text('MNIST Upload');
          $('.uf-button').animate({
            opacity: 0
          }, {
            duration:200,
            queue: false,
          }).css("z-index", 0);
          $('.mnist-uf-button').animate({
            opacity: 1
          }, {
            duration:200,
            queue: false,
          }).css("z-index", 1);
        }
      }
    </script>

    <div class="col s2" style="position:absolute;">
      <input type="radio" id="imagenet" name="selected_model" value="imagenet" onclick="selectModel('0');"checked/> <label for="imagenet">Inception V3</label>
      <input type="radio" id="mnist" name="selected_model" value="mnist" onclick="selectModel('1');" /> <label for="mnist">MNIST Model</label>
    </div>

    <div class="input-field col s6 offset-s2" id="div_algorithm" style="position:absolute;margin-top:1px;">
      <select style="display:inline;" id="attack_algorithm">
        <option value="" disabled selected>Choose your Attack Algorithm</option>
        <option value="fgsm">FGSM</option>
        <option value="jsma">DeepFool</option>
        <option value="cwl2">CWL2</option>
      </select>
    </div>

    <div class="input-field col s1 offset-s2 div_model" style="position:absolute;margin-top:1px;display:none;">
      <select style="display:inline;" id="mnist_number">
        <option value="" disabled selected>Sample</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>

    <div class="input-field col s1 offset-s3 div_model" style="position:absolute;margin-top:1px;display:none;">
      <select style="display:inline;" id="target_number">
        <option value="" disabled selected>Target</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>

    <div class="input-field col s4 offset-s4 div_model" style="position:absolute;margin-top:1px;display:none;">
      <select style="display:inline;" id="mnist_attack_algorithm">
        <option value="" disabled selected>Choose your Attack Algorithm</option>
        <option value="fgsm">FGSM</option>
        <option value="jsma">JSMA</option>
        <option value="cwl2">CWL2</option>
		    <option value="deepfool">DeepFool</option>
      </select>
    </div>

    <div class="col s4 offset-s8">
      <label for="iterate">Iterate</label>
      <p class="range-field" style="display:inline;">
        <input type="range" id="iterate" min="1" max="30" /></p>
    </div>

  </div>

  <div class="container row main-container" style="width:100%; max-width:100%; max-height: 100%;">
    <div class="col s4 dd-container">
      <div class="card dd-card">
        <div class="card-content black-text file-field">
          <div id="drop-container">
            <i class="material-icons large upload-icon">cloud_upload</i>
            <span class="drag-txt"><b>Drag and drop image here</b></span>
            <form action="#">
              <div class="waves-effect waves-light btn" id="browse-container">
                <span>Browse files</span>
                <input type="file" id="browse-button" accept="image/*">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col s4 uf-container">
      <div class="card uf-card">
        <img class="card crop" id="img-card" />
      </div>
    </div>

    <div class="col s4 mnist-dd-container">
      <div class="card mnist-dd-card">
        <div class="card-content black-text file-field">
          <div id="mnist-temp-container">
            <i class="material-icons large upload-icon">looks_6</i>
            <span class="drag-txt"><b>MNIST Sample</b></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col s4 mnist-uf-container mnist-pure-container">
      <img class="card crop" id="mnist-img-card" />
    </div>

    <div class="col s4 offset-s4 ad-temp-container">
      <div class="card ad-temp-card">
        <div class="card-content black-text file-field">
          <div id="temp-container">
            <i class="material-icons large upload-icon">sentiment_very_dissatisfied</i>
            <span class="drag-txt"><b>Adversarial Image</b></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col s4 offset-s4 ad-container">
      <img class="card crop" id="adver-card" />
      <div id="controller-bar">
          <button id="backward" href="#">|< Step back </button>&nbsp;&nbsp;
          <button id="play" href="#"> Play | Pause </button>&nbsp;&nbsp;
          <button id="forward" href="#"> Step forward >|</button>
      </div>
    </div>

    <div class="col s4 offset-s8 dt-container" style="height:65%">
      <div class="card dt-card" id="stat-table">
      </div>
      <div class="card dt-card" id="adver-table">
      </div>
      <div class="card result-card"id="result-card"style="display:none; height:17%">
        <div class="card-content black-text file-field" style="padding:5px">
          <div id="result" style="height:calc(100% - 15px); text-align:center;">
            <p><span id="original" style="color:blue;font-weight:bold;"></span> is recognized by <span id="adversarial" style="color:red;font-weight:bold;"></span></p>
			<p>attack speed : <span id="attack_speed" style="color:black;font-weight:bold;"></span> seconds</p>
          </div>
        </div>
      </div>
    </div>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <div style="width: 100%; overflow: hidden;">
          <div style="width: 100px; float: left;">
            <div class="preloader-wrapper big active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="loading-text">
            <h5>Loading...</h5></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container col s8 uf-container uf-button" style="position:relative">
    <div class="waves-effect waves-light btn" id="upload-button">
      <span>Upload and Detect Image</span>
    </div>
    <div class="waves-effect waves-light btn" id="go-back">
      <span>Go Back</span>
    </div>
  </div>
  <div class="container col s8 mnist-uf-container mnist-uf-button" style="position:relative; z-index:0;">
    <div class="waves-effect waves-light btn" id="mnist-upload-button">
      <span>MNIST Upload</span>
    </div>
    <div class="waves-effect waves-light btn" id="mnist-go-back">
      <span>Go Back</span>
    </div>
  </div>
  <div class="container col s4 dt-container" id="footer" style="position:relative; z-index:0;">
    <div class="waves-effect waves-light btn" id="go-start">
      <span>Go Back</span>
    </div>
  </div>

</body>

</html>
